<section class="section-head">
    <div class="panel panel-default panel-control-bar">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 text-left"><p>&nbsp;</p>
                </div>
                <div class="col-sm-6 text-right">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-body">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Was geht</h2>

            <p>Hier könnte man einiges darstelle ... halt schnell etwas für's Auge ...</p>
        </div>
        <div class="panel-body">
            here comes the list - dashboards

            @theLex: derzeit fehlen noch reichlihc Dinge ...

            <ul>
                <li>customer
                    <ul>
                        <li>C: OK</li>
                        <li>R: OK</li>
                        <li>U: OK</li>
                        <li>D: fehlt komplett (reviewable)</li>
                    </ul>
                </li>
                <li>user
                    <ul>
                        <li>C: OK (error handling)</li>
                        <li>R: OK</li>
                        <li>U: OK (error handling)</li>
                        <li>D: fehlt komplett (reviewable)</li>
                        <li>Passwort reset: fehlt komplett</li>
                        <li>Rechte: fehlt komplett</li>
                        <li>Sperren: fehlt komplett</li>
                    </ul>
                </li>
                <li>assignments
                    <ul>
                        <li>C: fehlt komplett</li>
                        <li>R: fehlt komplett</li>
                        <li>U: fehlt komplett</li>
                        <li>D: fehlt komplett</li>
                    </ul>
                </li>
                <li>logs
                    <ul>
                        <li>C: fehlt komplett</li>
                        <li>R: fehlt komplett</li>
                        <li>U: fehlt komplett</li>
                        <li>D: fehlt komplett</li>
                    </ul>
                </li>
                <li>produkte
                    <ul>
                        <li>C: fehlt komplett</li>
                        <li>R: fehlt komplett</li>
                        <li>U: fehlt komplett</li>
                        <li>D: fehlt komplett</li>
                    </ul>
                </li>
                <li>instanzen
                    <ul>
                        <li>C: OK</li>
                        <li>R: OK</li>
                        <li>U: OK</li>
                        <li>D: fehlt komplett (reviewable)</li>
                    </ul>
                </li>
                <li>tarife
                    <ul>
                        <li>C: OK</li>
                        <li>R: OK</li>
                        <li>U: OK</li>
                        <li>D: fehlt komplett (reviewable)</li>
                    </ul>
                </li>
                <li>player-skins
                    <ul>
                        <li>C: -</li>
                        <li>R: -</li>
                        <li>U: -</li>
                        <li>D: -</li>
                    </ul>
                </li>
                <li>transcoder profile
                    <ul>
                        <li>C: OK</li>
                        <li>R: OK</li>
                        <li>U: OK (NOT reviewable)</li>
                        <li>D: fehlt komplett (reviewable)</li>
                    </ul>
                </li>
                <li>profilbereich
                    <ul>
                        <li>Meine Daten: READ OK</li>
                        <li>Mein Passowrt: fehlt komplett</li>
                        <li>Meine Firma: READ OK</li>
                        <li>Überprüfungen: geht so ... diff view fehlt - ALLOW/DENY funktionieren </li>
                    </ul>
                </li>
                <li>view switch list/tile</li>
                <li>route based error handling</li>
                <li>stomp - sockjs</li>
                <li>jwt foo instable</li>
                <li>jwt refresh missing</li>
            </ul>
        </div>
    </div>

</section>

