<section class="section-head">
    <div class="panel panel-default panel-control-bar">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 text-left">
                    <!-- LIST -->
                    <a ng-if="('app.admin.customer'|includedByState)"
                       class="btn btn-mi24 btn-info"
                       ui-sref="app.admin.customer"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       uib-tooltip="[de] Zurück zur Liste">
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                    <a ng-if="('app.management.customer'|includedByState)"
                       class="btn btn-mi24 btn-info"
                       ui-sref="app.management.customer"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       uib-tooltip="[de] Zurück zur Liste">
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                    <!-- RESET -->
                    <a class="btn btn-mi24 btn-warning"
                       ng-click="customerDetailVm.reset()"
                       ng-disabled="formCustomer.$pristine"
                       has-type="admin"
                       has-role="customer_edit"
                       ng-show="hasType['admin'] && hasRole['customer_edit']"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       uib-tooltip="[de] Zurücksetzen">
                        <i class="fa fa-undo"></i>
                    </a>
                    <!-- CREATE -->
                    <a class="btn btn-mi24 btn-primary"
                       ng-hide="customerDetailVm.model.id"
                       ng-disabled="formCustomer.$invalid || formCustomer.$pristine"
                       has-type="admin"
                       has-role="customer_create"
                       ng-show="hasType['admin'] && hasRole['customer_create']"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       ng-click="customerDetailVm.create()"
                       uib-tooltip="[de] Speichern">
                        <i class="fa fa-save"></i>
                    </a>
                    <!-- UPDATE -->
                    <a class="btn btn-mi24 btn-primary"
                       ng-show="customerDetailVm.model.id"
                       ng-disabled="formCustomer.$invalid || formCustomer.$pristine"
                       has-type="admin"
                       has-role="customer_edit"
                       ng-show="hasType['admin'] && hasRole['customer_edit']"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       ng-click="customerDetailVm.update()"
                       uib-tooltip="[de] Speichern">
                        <i class="fa fa-save"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 translate="customer.common.singular.title"></h2>
        </div>
        <div class="panel-body">
            <form name="formCustomer">
                <formly-form model="customerDetailVm.model"
                             fields="customerDetailVm.fields"
                             options="customerDetailVm.options">
                </formly-form>
            </form>
        </div>
    </div>
</section>
