
<section class="section-head">
    <div class="row">
        <div class="col-sm-6 text-left">
            <!--
            <a
               class="btn btn-mi24 btn-success"
               ui-sref="app.admin.customer.create"
               has-role="customer_create"
               ng-show="hasRole['customer_create']">
                <i class="fa fa-plus-square"></i>
            </a>
            -->
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-mi24 btn-primary">
                <i class="fa fa-th-large"></i>
            </button>
            <button class="btn btn-mi24 btn-primary">
                <i class="fa fa-th-list"></i>
            </button>
        </div>
    </div>
</section>
<section class="section-body">
    <h2 translate="customer.list.headline.label"></h2>
    <p translate="customer.list.description"></p>
    <div class="item-list"
         ng-repeat="mainroute in ['admin', 'management']">
        <div ng-if="('app.'+mainroute|includedByState)"
             ng-repeat="item in customerListVm.preparedList"
             row-list-item="item"
             row-list-route="app.{{mainroute}}.customer.detail({customerId:item.id})"></div>
    </div>
</section>
<!--<section class="section-foot"></section>-->

