<section class="section-head">
    <div class="panel panel-default panel-control-bar">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 text-left">
                    <!-- LIST -->
                    <a class="btn btn-mi24 btn-info"
                       ui-sref="app.admin.transcoder-profile"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       uib-tooltip="[de] Zurück zur Liste">
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                    <!-- RESET -->
                    <a class="btn btn-mi24 btn-warning"
                       ng-click="transcoderProfileDetailVm.options.resetModel();transcoderProfileDetailVm.reset();"
                       ng-disabled="formTranscoderProfile.$pristine"
                       has-type="admin"
                       has-role="transcoderprofile_edit"
                       ng-show="hasType['admin'] && hasRole['transcoderprofile_edit']"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       uib-tooltip="[de] Zurücksetzen">
                        <i class="fa fa-undo"></i>
                    </a>
                    <!-- CREATE -->
                    <a class="btn btn-mi24 btn-primary"
                       ng-hide="transcoderProfileDetailVm.model.key"
                       ng-disabled="(formTranscoderProfile.$invalid || formTranscoderProfile.$pristine)"
                       ng-click="(formTranscoderProfile.$invalid || formTranscoderProfile.$pristine) || transcoderProfileDetailVm.create()"
                       has-type="admin"
                       has-role="transcoderprofile_create"
                       ng-show="hasType['admin'] && hasRole['transcoderprofile_create']"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       uib-tooltip="[de] Speichern CREATE">
                        <i class="fa fa-save"></i>
                    </a>
                    <!-- UPDATE -->
                    <a class="btn btn-mi24 btn-primary"
                       ng-show="transcoderProfileDetailVm.model.key"
                       ng-disabled="(formTranscoderProfile.$invalid || formTranscoderProfile.$pristine)"
                       ng-click="(formTranscoderProfile.$invalid || formTranscoderProfile.$pristine) || transcoderProfileDetailVm.update()"
                       has-type="admin"
                       has-role="transcoderprofile_edit"
                       ng-show="hasType['admin'] && hasRole['transcoderprofile_edit']"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       uib-tooltip="[de] Speichern UPDATE">
                        <i class="fa fa-save"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div ng-if="transcoderProfileDetailVm.underReview" class="alert alert-danger" role="alert">
                <p>
                    <i class="fa fa-fw fa-exclamation-triangle"></i>
                    <span translate="core.msg.review.description"></span>
                </p>
            </div>
            <h2 translate="transcoder-profile.common.singular.title"></h2>
        </div>
        <div class="panel-body">
            <form name="formTranscoderProfile">
                <formly-form model="transcoderProfileDetailVm.model"
                             fields="transcoderProfileDetailVm.fields"
                             options="transcoderProfileDetailVm.options">
                </formly-form>
            </form>
        </div>
    </div>
</section>