<section class="section-head">
    <div class="panel panel-default panel-control-bar">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <a class="btn btn-mi24 btn-success"
                       ui-sref="app.admin.instance.create"
                       has-type="admin"
                       has-role="instance_create"
                       ng-show="hasType['admin'] && hasRole['instance_create']"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       tooltip="[de] Neu anlegen">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
                <div class="col-sm-6 text-right">
                    <a class="btn btn-mi24 btn-primary"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       tooltip="[de] Liste in Kacheln">
                        <i class="fa fa-th-large"></i>
                    </a>
                    <a class="btn btn-mi24 btn-primary"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       tooltip="[de] Liste in Zeilen">
                        <i class="fa fa-th-list"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 translate="instance.list.headline.label"></h2>

            <p translate="instance.list.description"></p>
        </div>
        <div class="panel-body">
            <div class="item-list">
                <div ng-repeat="item in instanceListVm.preparedList"
                     row-list-item="item"
                     row-list-route="app.admin.instance.detail({instanceId:item.id})"></div>
            </div>
        </div>
    </div>
</section>

<!--<section class="section-foot"></section>-->