<div class="row">
    <div class="col-sm-6 text-left">
        <a class="btn btn-mi24 btn-success"
           ui-sref="admin.instance.new"
           has-role="instance_create"
           ng-show="hasRole['instance_create']">
            <i class="fa fa-plus-square"></i>
        </a>
    </div>
    <div class="col-sm-6 text-right">
        <button class="btn btn-mi24 btn-primary">
            <i class="fa fa-th-large"></i>
        </button>
        <button class="btn btn-mi24 btn-primary">
            <i class="fa fa-th-list"></i>
        </button>
    </div>
</div>