<div class="modal-header">
    <h3 translate="reviewable.form.headline.label"></h3>
</div>
<form class="modal-body form-horizontal" name="form" novalidate>
    <div class="form-group" ng-class="{'has-error': form.reviewer.$error.required}">
        <div class="col-sm-5">
            <select class="form-control"
                    ng-model="reviewableVM.reviewer"
                    name="reviewer"
                    required="required"
                    ng-options="(user.firstName + ' ' + user.lastName) for user in reviewableVM.reviewerList track by user.id">
                <option value="" translate="reviewable.form.select.label"></option>
            </select>
        </div>
    </div>
</form>
<div class="modal-footer">
    <div class="row">
        <div class="col-sm-6 text-left">
            <button class="btn btn-default"
                    ng-click="reviewableVM.cancel()"
                    translate="reviewable.form.btn.cancel.label"></button>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-primary"
                    ng-show="reviewableVM.reviewerList.length"
                    ng-disabled="!reviewableVM.reviewer"
                    ng-click="reviewableVM.ok()"
                    translate="reviewable.form.btn.save.label"></button>
        </div>
    </div>
</div>
