<ul class="nav navbar-nav pull-right">
    <li class="dropdown" dropdown is-open="status.isopen">
        <a title="{{'common.header.menu.title'|translate}}" dropdown-toggle ng-disabled="disabled">
            <i class="fa {{'common.header.menu.icon'|translate}}"></i>
            <span translate="common.header.menu.label"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li>
                <a ui-sref="customer.dashboard.list" translate="common.section.customer.label"></a>
            </li>
            <li>
                <a ui-sref="admin.instance.list" translate="common.section.admin.label"></a>
            </li>
            <li class="divider"></li>
            <li>
                <a ui-sref="profile.user.data" translate="common.section.profile.label"></a>
            </li>
        </ul>
    </li>
    <li>
        <a title="{{'common.header.logout.title'|translate}}" ng-click="vm.logout()">
            <i class="fa {{'common.header.logout.icon'|translate}}"></i>
            <span translate="common.header.logout.label"></span>
        </a>
    </li>
</ul>
