<aside class="cs-2 col-left">
    <section class="section-head"></section>
    <section class="section-body">
        <ul class="list-unstyled level-list">
            <li>
                <div class="heading">
                    <span class="title" translate="common.section.customer.label"></span>
                </div>
                <ul class="list-unstyled">
                    <li ng-repeat="type in ['dashboard', 'customer', 'user', 'assignment', 'log']"
                        ng-class="{'selected':('customer.'+type|includedByState)}">
                        <a ui-sref="customer.{{type}}.list"
                           title="{{type+'.sidebar-customer.title'|translate}}">
                            <i class="fa {{type+'.sidebar-customer.icon'|translate}}"></i>
                            <span class="title" translate="{{type}}.sidebar-customer.label"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <section class="section-foot"></section>
</aside>
<aside class="col-main-right" ui-view="content"></aside>