<aside class="cs-2 col-left">
    <section class="section-head"></section>
    <section class="section-body">
        <ul class="list-unstyled level-list">
            <li>
                <div class="heading">
                    <span class="title" translate="common.section.admin.label"></span>
                </div>
                <ul class="list-unstyled">
                    <li ng-repeat="type in ['product', 'instance', 'plan', 'player-skin', 'transcoder_profile', 'customer', 'user']"
                        ng-class="{'selected':('admin.'+type|includedByState)}">
                        <a ui-sref="admin.{{type}}.list"
                           title="{{type+'.sidebar-admin.title'|translate}}">
                            <i class="fa {{type+'.sidebar-admin.icon'|translate}}"></i>
                            <span class="title" translate="{{type}}.sidebar-admin.label"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <section class="section-foot"></section>
</aside>
<aside class="col-main-right" ui-view="content"></aside>