header > aside {
  &.col-left.brand {
    font-family: 'Open Sans Condensed', sans-serif;
    span.version {
      font-size: 0.8em;
      opacity: 0.25;
    }
  }
  img.gravatar {
    height: 100%;
    width: 100%;
    max-height: 35px;
    max-width: 35px;
    border-radius: 5px;
  }
}