.section-body {
  > h2 {
    font-size: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  .panel-heading h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    + p {
      margin: 10px 0 0;
    }
  }
  .panel-body > h4:first-child {
    margin-top: 0;
  }
  .panel-control {
    position: fixed;
  }
  .panel-control + .panel {}
}