<aside class="cs-2 col-left">
    <section class="section-head"></section>
    <section class="section-body">
        <ul class="list-unstyled level-list">
            <li>
                <div class="heading">
                    <span class="title" translate="core.section.profile.label"></span>
                </div>
                <ul class="list-unstyled">
                    <li ng-repeat="type in ['user', 'customer', 'review']"
                        ng-class="{'selected':('app.profile.'+type|includedByState)}">
                        <a ui-sref="app.profile.{{type}}.data"
                           title="{{type+'.sidebar-profile.title'|translate}}">
                            <i class="fa {{type+'.sidebar-profile.icon'|translate}}"></i>
                            <span class="title" translate="{{type}}.sidebar-profile.label"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <section class="section-foot"></section>
</aside>
<aside class="col-main-right" ui-view="content"></aside>