<section class="section-head">
    <div class="panel panel-default panel-control-bar">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <!--
                            <a
                               class="btn btn-mi24 btn-success"
                               ui-sref="app.admin.feature.create"
                               has-role="feature_create"
                               ng-show="hasRole['feature_create']">
                                <i class="fa fa-plus-square"></i>
                            </a>
                    -->
                </div>
                <div class="col-sm-6 text-right">
                    <button class="btn btn-mi24 btn-primary">
                        <i class="fa fa-th-large"></i>
                    </button>
                    <button class="btn btn-mi24 btn-primary">
                        <i class="fa fa-th-list"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 translate="feature.list.headline.label"></h2>

            <p translate="feature.list.description"></p>
        </div>
        <div class="panel-body">
            <div class="item-list">
                <div ng-repeat="item in featureListVm.preparedList"
                     row-list-item="item"
                     row-list-route="app.admin.feature.detail({featureId:item.id})"></div>
            </div>
        </div>
    </div>
</section>
<!--<section class="section-foot"></section>-->
