<form class="form" id="formPasswordRequest" name="formPasswordRequest" novalidate>
    <h3 translate="security.form.password-request.header"></h3>

    <p translate="security.form.password-request.msg"></p>

    <div class="form-group"
         ng-class="{'has-error':formPasswordRequest.email.$invalid && !formPasswordRequest.email.$pristine }">
        <label for="email" translate="security.form.email.label"></label>
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               placeholder="{{'security.form.email.placeholder'|translate}}"
               ng-model="passwordRequestVm.formData.email"
               autofocus
               required>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a ui-sref="app.security.login"
               class="btn btn-block btn-link"
               translate="security.form.btn.back-to-login.label">
            </a>
        </div>
        <div class="col-sm-6">
            <button ng-click="passwordRequestVm.passwordRequest()"
                    ng-disabled="formPasswordRequest.$invalid"
                    translate="security.form.btn.password-request.label"
                    class="btn btn-block btn-primary">
            </button>
        </div>
    </div>
</form>
