<form class="form" id="formPasswordReset" name="formPasswordReset" novalidate>
    <h3 translate="security.form.password-reset.header"></h3>

    <p translate="security.form.password-reset.msg"></p>

    <div class="form-group"
         ng-class="{'has-error':formPasswordReset.password.$invalid && !formPasswordReset.password.$pristine }">
        <label for="password" translate="security.form.password.label"></label>
        <input type="password"
               class="form-control"
               id="password"
               name="password"
               placeholder="{{'security.form.password.placeholder'|translate}}"
               ng-model="passwordResetVm.formData.password"
               autofocus
               required>
    </div>
    <div class="form-group has-feedback"
         ng-class="{'has-error': (formPasswordReset.password-confirm.$invalid && !formPasswordReset.password-confirm.$pristine) || formPasswordReset.passwordConfirm.$error.match }">
        <label for="passwordConfirm" translate="security.form.password-confirm.label"></label>
        <input type="password"
               class="form-control"
               id="passwordConfirm"
               name="passwordConfirm"
               placeholder="{{'security.form.password-confirm.placeholder'|translate}}"
               ng-model="passwordResetVm.formData.passwordConfirm"
               match="passwordResetVm.formData.password"
               required>
        <span class="fa fa-exclamation-triangle form-control-feedback input-icon"
              title="{{'security.form.password-confirm.error'|translate}}"
              ng-show="formPasswordReset.passwordConfirm.$error.match"></span>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a ui-sref="app.security.login"
               class="btn btn-block btn-link"
               translate="security.form.btn.back-to-login.label">
            </a>
        </div>
        <div class="col-sm-6">
            <button ng-click="passwordResetVm.passwordReset()"
                    ng-disabled="formPasswordReset.$invalid"
                    translate="security.form.btn.password-reset.label"
                    class="btn btn-block btn-primary">
            </button>
        </div>
    </div>
</form>
