<h3 translate="security.form.request-password.header"></h3>
<p translate="security.form.request-password.msg"></p>

<form class="form" name="form" novalidate>
    <div class="form-group">
        <input type="email"
               class="form-control"
               ng-model="email" required
               name="email"
               placeholder="{{ 'security.form.email.placeholder' | translate}}"/>
    </div>
    <button ng-click="requestPasswordVm.requestPassword(email)"
            class="btn btn-block btn-primary"
            ng-disabled="form.$invalid"
            translate="security.form.request-password.label"></button>
</form>