<h3 translate="security.form.set-password.header"></h3>
<p translate="security.form.set-password.msg"></p>

<form class="form" name="form" novalidate>
    <div class="form-group">
        <input class="form-control"
               name="plainPassword"
               type="password"
               placeholder="{{'security.form.password.placeholder'|translate}}"
               ng-model="password.plainPassword"
               required/>
    </div>
    <div class="form-group" ng-class="{'has-error': form.repeatedPlainPassword.$error.validator}">
        <input name="repeatedPlainPassword"
               class="form-control"
               type="password"
               placeholder="{{'security.form.password.placeholder'|translate}}"
               ng-model="password.repeatedPlainPassword"
               required
               ui-validate=" '$value==password.plainPassword' "
               ui-validate-watch=" 'password.plainPassword' "/>
        <span class="help-block" ng-show="form.repeatedPlainPassword.$error.validator" translate="security.form.password.error"></span>
    </div>
    <button ng-click="setPassword()"
            class="btn btn-block btn-primary"
            ng-disabled="form.$invalid"
            translate="security.form.save-password.label"></button>
</form>