<section class="section-head">
    <div class="panel panel-default panel-control-bar">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 text-left">
                    <!-- LIST -->
                    <a class="btn btn-mi24 btn-info"
                       ui-sref="app.admin.plan"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       uib-tooltip="[de] Zurück zur Liste">
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                    <!-- RESET -->
                    <a class="btn btn-mi24 btn-warning"
                       ng-click="planDetailVm.reset()"
                       ng-disabled="formPlan.$pristine"
                       has-type="admin"
                       has-role="plan_edit"
                       ng-show="hasType['admin'] && hasRole['plan_edit']"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       uib-tooltip="[de] Zurücksetzen">
                        <i class="fa fa-undo"></i>
                    </a>
                    <!-- CREATE -->
                    <a class="btn btn-mi24 btn-primary"
                       ng-hide="planDetailVm.model.id"
                       ng-disabled="(formPlan.$invalid || formPlan.$pristine)"
                       ng-click="(formPlan.$invalid || formPlan.$pristine) || planDetailVm.create()"
                       has-type="admin"
                       has-role="plan_create"
                       ng-show="hasType['admin'] && hasRole['plan_create']"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       uib-tooltip="[de] Speichern">
                        <i class="fa fa-save"></i>
                    </a>
                    <!-- UPDATE -->
                    <a class="btn btn-mi24 btn-primary"
                       ng-show="planDetailVm.model.id"
                       ng-disabled="(formPlan.$invalid || formPlan.$pristine)"
                       has-type="admin"
                       has-role="plan_edit"
                       ng-show="hasType['admin'] && hasRole['plan_edit']"
                       tooltip-placement="bottom"
                       tooltip-popup-delay="1000"
                       tooltip-append-to-body="true"
                       reviewable
                       action="planDetailVm.update(reviewer)"
                       right="plan_edit"
                       uib-tooltip="[de] Speichern">
                        <i class="fa fa-save"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div ng-if="planDetailVm.underReview" class="alert alert-danger" role="alert">
                <p>
                    <i class="fa fa-fw fa-exclamation-triangle"></i>
                    <span translate="core.msg.review.description"></span>
                </p>
            </div>
            <h2 translate="plan.common.singular.title"></h2>
        </div>
        <div class="panel-body">
            <form name="formPlan">
                <formly-form model="planDetailVm.model"
                             fields="planDetailVm.fields"
                             options="planDetailVm.options">
                </formly-form>
            </form>
        </div>
    </div>
</section>
